.parallax {
  background-image: url(http://hdqwalls.com/wallpapers/3d-cube-background-4k-yo.jpg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row-one {
  height: 55vh;
}

::-webkit-scrollbar {
  display: none;
}